:host {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  flex-direction: column;

  .name {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .add_icon {
    height: 2rem;
    width: 2rem;
    margin-top: 1rem;
  }
}
