@import "variables";

:host {
  background: $dark-light;
  color: $primary;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;

  .logo {
    color: currentColor;
    height: 4rem;
    width: 6rem;
    display: flex;
  }

  .name {
    font-size: 16px;
  }


  .icon-logo {
    height: 100%;
    width: 100%;
  }
}
