@import "variables";

:host {
  display: flex;
  flex-wrap: wrap;

  .room {
    height: 15vw;
    width: 15vw;
    min-width: 15rem;
    min-height: 15rem;
    background-size: cover;
    background-position: 50%;
    border-width: 2px;
    border-color: $primary;
    border-radius: 10px;
    margin: 1vw;
    color: $primary;
    background-color: $dark-light;
    transition: all ease-in-out 0.2s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 1rem rgba(255, 255, 255, 0.3);
    }
  }
}
