@import '~@angular/material/theming';
@import "variables";

@include mat-core();

$vr-primary: (
        200: $primary,
        100: lighten($primary, 0.15),
        400: darken($primary, 0.15),
        contrast: (
                200: $primary-contrast,
                100: $primary-contrast,
                400: $primary-contrast
        )
);

$vr-accent: (
        200: $accent,
        100: lighten($accent, 0.15),
        400: darken($accent, 0.15),
        contrast: (
                200: $accent-contrast,
                100: $accent-contrast,
                400: $accent-contrast
        )
);

$vrooms-primary: mat-palette($vr-primary, 200, 100, 400);
$vrooms-accent: mat-palette($vr-accent, 200, 100, 400);

// The warn palette is optional (defaults to red).
$vrooms-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$vrooms-theme: mat-dark-theme($vrooms-primary, $vrooms-accent, $vrooms-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($vrooms-theme);
