@import '~@angular/material/theming';

@include mat-core();

$primary: #83dfe2;
$primary-contrast: #262833;

$accent: #83dfe2;
$accent-contrast: #262833;


$dark: #111111;
$dark-light: #353535;
$dark-contrast: #acacac;
$dark-light-contrast: #e6e6e6;
