$primary: #fc5922;
$primary-light: #fc7143;
$primary-dark: #e34c19;
$primary-contrast: #fff;
$primary-light-contrast: #000;
$primary-dark-contrast: #fff;

$accent: #2c336b;
$accent-light: #333c77;
$accent-dark: #202354;
$accent-alternative: #13cf71;
$accent-contrast: #fff;
$accent-light-contrast: #fff;
$accent-dark-contrast: #fff;

$warn: #ee0e0e;
$warn-light: #ff5a3c;
$warn-dark: #b20000;
$warn-contrast: #fff;
$warn-light-contrast: #fff;
$warn-dark-contrast: #fff;

